import ClientApi from "./ClientApi"
export class IngredientService {
    async fetchCategories() {
        const response = await ClientApi("ingredients", "IngredientService").get("category")
        // const response = await axios.get("api/category");
        return response.data;
    }

    async createIngredient() {
        const data = { /* your data */ };
        const response = await clientAPI.post('category', data);
        console.log(response);
    }
}
