import axios from "axios";
import clientAPI from './clientAPI';

export class IngredientService {
    async fetchCategories() {
        const data = await clientAPI.get('category');
        return data
    }

    async createIngredient() {
        const data = { /* your data */ };
        const response = await clientAPI.post('category', data);
        console.log(response);
    }
}
